* {
    margin: 0;
    padding: 0;
}

.cartao {

    border-radius: 4%;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 5%;
    background-color: #BA55D3;
    
   
}



.ft_juju {
    width: 110px;
    height: 110px;
    margin: auto;
    border: 2px solid white;
    border-radius: 50%;
  
    
}

.cartão_ft {
    
    padding-top: 3%;
    padding-left: 39%;
}

.cartao_text {
    padding: 3%;
}

.text {
    color: white;
    text-align: justify;
}

.hr {
    border: 1px solid white;
    width: 70%;
    margin: auto;
    margin-top: 2%;
}